:root {
    --light-toggle-icon: "☼";
    --light-bg-color-1: #ffffff;
    --light-bg-color-2: #fcfcfd;
    --light-bg-color-3: #f8f9fa;
    --light-border-color: rgba(0, 0, 0, 0.071);
    --light-heading-color: #212529;
    --light-text-color: #111111;
    --light-faded-text-color: #8a8a8a;
    --light-annotation-color: #b15422;
    --light-keyword-color: #030303;
    --light-name-color: #b12250;
    --light-type-color: #3061c4;
    --light-kind-color: #8a8a8a;
    --light-effect-color: #d4671e;
    --light-doc-code-color: #d63384;
    --light-show-hide-color: #0d6efd;
    --light-show-hide-hover-color: #0a58ca;
    --light-module-color: #a0a5ff;
    --light-classes-color: #fc9d9a;
    --light-enum-color: #c8c8a9;
    --light-eff-color: #ffaefa;
    --light-type-alias-color: #f9cdad;
    --light-def-color: #83af9b;
    --light-shadow-color: rgba(0, 0, 0, 0.05);
    --light-highlight-color: rgba(0, 0, 0, 0.3);

    --dark-toggle-icon: "☾";
    --dark-bg-color-1: #151719;
    --dark-bg-color-2: #101214;
    --dark-bg-color-3: #0e0f11;
    --dark-border-color: rgba(255, 255, 255, 0.15);
    --dark-heading-color: #e6e6e6;
    --dark-text-color: #f7f7f7;
    --dark-faded-text-color: #8a8a8a;
    --dark-annotation-color: #e7a37e;
    --dark-keyword-color: #fcfcfc;
    --dark-name-color: #ff6696;
    --dark-type-color: #6699ff;
    --dark-kind-color: #999999;
    --dark-effect-color: #ff944d;
    --dark-doc-code-color: #ff66b3;
    --dark-show-hide-color: #68a4fd;
    --dark-show-hide-hover-color: #3c86f6;
    --dark-module-color: #a0a5ff;
    --dark-classes-color: #fc9d9a;
    --dark-enum-color: #c8c8a9;
    --dark-eff-color: #ffaefa;
    --dark-type-alias-color: #f9cdad;
    --dark-def-color: #83af9b;
    --dark-shadow-color: rgba(0, 0, 0, 0.5);
    --dark-highlight-color: hsla(50, 0%, 100%, 0.3);

    --toggle-icon: var(--light-toggle-icon);
    --bg-color-1: var(--light-bg-color-1);
    --bg-color-2: var(--light-bg-color-2);
    --bg-color-3: var(--light-bg-color-3);
    --border-color: var(--light-border-color);
    --heading-color: var(--light-heading-color);
    --text-color: var(--light-text-color);
    --faded-text-color: var(--light-faded-text-color);
    --annotation-color: var(--light-annotation-color);
    --keyword-color: var(--light-keyword-color);
    --name-color: var(--light-name-color);
    --type-color: var(--light-type-color);
    --kind-color: var(--light-kind-color);
    --effect-color: var(--light-effect-color);
    --doc-code-color: var(--light-doc-code-color);
    --show-hide-color: var(--light-show-hide-color);
    --show-hide-hover-color: var(--light-show-hide-hover-color);
    --module-color: var(--light-module-color);
    --classes-color: var(--light-classes-color);
    --enum-color: var(--light-enum-color);
    --eff-color: var(--light-eff-color);
    --type-alias-color: var(--light-type-alias-color);
    --def-color: var(--light-def-color);
    --shadow-color: var(--light-shadow-color);
    --highlight-color: var(--light-highlight-color);
    color-scheme: light;
}
@media (prefers-color-scheme: dark) {
    :root {
        --toggle-icon: var(--dark-toggle-icon);
        --bg-color-1: var(--dark-bg-color-1);
        --bg-color-2: var(--dark-bg-color-2);
        --bg-color-3: var(--dark-bg-color-3);
        --border-color: var(--dark-border-color);
        --heading-color: var(--dark-heading-color);
        --text-color: var(--dark-text-color);
        --faded-text-color: var(--dark-faded-text-color);
        --annotation-color: var(--dark-annotation-color);
        --keyword-color: var(--dark-keyword-color);
        --name-color: var(--dark-name-color);
        --type-color: var(--dark-type-color);
        --kind-color: var(--dark-kind-color);
        --effect-color: var(--dark-effect-color);
        --doc-code-color: var(--dark-doc-code-color);
        --show-hide-color: var(--dark-show-hide-color);
        --show-hide-hover-color: var(--dark-show-hide-hover-color);
        --module-color: var(--dark-module-color);
        --classes-color: var(--dark-classes-color);
        --enum-color: var(--dark-enum-color);
        --eff-color: var(--dark-eff-color);
        --type-alias-color: var(--dark-type-alias-color);
        --def-color: var(--dark-def-color);
        --shadow-color: var(--dark-shadow-color);
        --highlight-color: var(--dark-highlight-color);
        color-scheme: dark;
    }
}

body.light {
    --toggle-icon: var(--light-toggle-icon);
    --bg-color-1: var(--light-bg-color-1);
    --bg-color-2: var(--light-bg-color-2);
    --bg-color-3: var(--light-bg-color-3);
    --border-color: var(--light-border-color);
    --heading-color: var(--light-heading-color);
    --text-color: var(--light-text-color);
    --faded-text-color: var(--light-faded-text-color);
    --annotation-color: var(--light-annotation-color);
    --keyword-color: var(--light-keyword-color);
    --name-color: var(--light-name-color);
    --type-color: var(--light-type-color);
    --kind-color: var(--light-kind-color);
    --effect-color: var(--light-effect-color);
    --doc-code-color: var(--light-doc-code-color);
    --show-hide-color: var(--light-show-hide-color);
    --show-hide-hover-color: var(--light-show-hide-hover-color);
    --module-color: var(--light-module-color);
    --classes-color: var(--light-classes-color);
    --enum-color: var(--light-enum-color);
    --eff-color: var(--light-eff-color);
    --type-alias-color: var(--light-type-alias-color);
    --def-color: var(--light-def-color);
    --shadow-color: var(--light-shadow-color);
    --highlight-color: var(--light-highlight-color);
    color-scheme: light;
}
body.dark {
    --toggle-icon: var(--dark-toggle-icon);
    --bg-color-1: var(--dark-bg-color-1);
    --bg-color-2: var(--dark-bg-color-2);
    --bg-color-3: var(--dark-bg-color-3);
    --border-color: var(--dark-border-color);
    --heading-color: var(--dark-heading-color);
    --text-color: var(--dark-text-color);
    --faded-text-color: var(--dark-faded-text-color);
    --annotation-color: var(--dark-annotation-color);
    --keyword-color: var(--dark-keyword-color);
    --name-color: var(--dark-name-color);
    --type-color: var(--dark-type-color);
    --kind-color: var(--dark-kind-color);
    --effect-color: var(--dark-effect-color);
    --doc-code-color: var(--dark-doc-code-color);
    --show-hide-color: var(--dark-show-hide-color);
    --show-hide-hover-color: var(--dark-show-hide-hover-color);
    --module-color: var(--dark-module-color);
    --classes-color: var(--dark-classes-color);
    --enum-color: var(--dark-enum-color);
    --eff-color: var(--dark-eff-color);
    --type-alias-color: var(--dark-type-alias-color);
    --def-color: var(--dark-def-color);
    --shadow-color: var(--dark-shadow-color);
    --highlight-color: var(--dark-highlight-color);
    color-scheme: dark;
}

html, body {
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;

    background-color: var(--bg-color-1);
    color: var(--text-color);

    display: flex;
    background-color: var(--bg-color-2);
}

#theme-toggle {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--heading-color);
    background-color: var(--bg-color-2);
    border-radius: 0.5rem;
}
#theme-toggle span {
    display: none;
}
#theme-toggle::before {
    line-height: 1.2;
    width: 2rem;
    font-size: 2rem;
    content: var(--toggle-icon);
}
#theme-toggle:hover {
    color: var(--text-color);
}

#theme-toggle [role="tooltip"] {
    color: var(--faded-text-color);
    background-color: var(--bg-color-2);
    padding: 0.2rem;
    display: none;
}
.no-script #theme-toggle:hover [role="tooltip"] {
    display: block;
}
.no-script #theme-toggle:focus [role="tooltip"] {
    display: block;
}

@media screen and (max-width: 50rem) {
    #theme-toggle {
        margin: 0.4rem;
    }
}

h1, h2 {
    color: var(--heading-color);
    margin-top: 0;
    line-height: 1.2;
}

h1 {
    font-family: Oswald, sans-serif;
    font-size: 4.5rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

h2 {
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

h3 {
    display: inline;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    color: var(--heading-color);
}

nav {
    position: relative;
}
@media screen and (max-width: 50rem) {
    nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}

nav > div {
    background-color: var(--bg-color-1);
    box-shadow: 0 0 10px 0 var(--shadow-color);
    border-right: 1px solid var(--border-color);
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    height: 100%;
    width: 20rem;
    overflow-y: auto;
}

#menu-toggle {
    display: none;
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.4rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    color: var(--faded-text-color);
    align-items: center;
    justify-content: center;
}
#menu-toggle:not(:checked) {
    background-color: var(--bg-color-1);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px 0 var(--shadow-color);
    border-radius: 0.3rem;
}
#menu-toggle:not(:checked)::after {
    content: "☰";
}
#menu-toggle:checked::after {
    content: "✕";
}
@media screen and (max-width: 50rem) {
    #menu-toggle {
        display: flex;
    }
    #menu-toggle:not(:checked) {
        transform: translateX(2.8rem);
    }

    #menu-toggle:not(:checked) ~ div {
        display: none;
    }
}

label[for="menu-toggle"] {
    display: none;
}

nav h2 {
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.version {
    color: var(--faded-text-color);
    margin-left: 0.5rem;
    font-size: 0.85rem;
}

nav ul {
    margin-top: 0.2rem;
    padding-left: 0.5rem;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    list-style: none;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

nav li {
    margin-bottom: 0.1rem;
}
nav li::before {
    content: "●";
    margin-right: 0.3rem;
}
nav .Modules li::before {
    color: var(--module-color)
}
nav .Classes li::before {
    color: var(--classes-color)
}
nav .Enums li::before {
    color: var(--enum-color)
}
nav .Effects li::before {
    color: var(--eff-color)
}
nav .Type-Aliases li::before {
    color: var(--type-alias-color)
}
nav .Definitions li::before {
    color: var(--def-color)
}

main {
    padding: 1rem 10%;
    flex: 1;

    overflow-y: auto;
    scroll-behavior: smooth;
}
@media screen and (max-width: 50rem) {
    main {
        padding: 2.5rem 5%;
    }
}

main h2 {
    font-family: Oswald, sans-serif;
}

body > hr {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

section {
    --h-padding: 0.75rem;
    margin-left: calc(-1 * var(--h-padding));
    margin-right: calc(-1 * var(--h-padding));

    margin-bottom: 3rem;
}
section > * {
    padding-left: var(--h-padding);
    padding-right: var(--h-padding);
}

.box {
    box-shadow: 0 0 10px 0 var(--shadow-color);
    background-color: var(--bg-color-1);
    border: 1px solid var(--border-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.8rem;
    border-radius: 0.2rem;
    box-sizing: border-box;
    overflow: auto;
}
.box:target {
    box-shadow: 0 0 14px 0 var(--highlight-color);
}
.box code {
    font-size: 0.85rem;
}

.copy-link {
    text-decoration: none;
    height: 1rem;
    color: var(--faded-text-color);
    margin-left: -0.25rem;
}
.copy-link svg {
    width: 1rem;
    height: 1rem;
}
.copy-link:hover {
    color: var(--text-color);
}

.copy-link-msg {
    background-color:var(--shadow-color);
    padding: 0.1rem 0.4rem;
    border-radius: 0.2rem;
    pointer-events: none;

    animation: fade-out 1s ease-in;
}
@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.source {
    color: inherit;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    text-decoration: none;
    background-color: var(--bg-color-3);
    padding: 0.2em 0.65em;
    border-radius: 0.375rem;
    border: 1px solid var(--border-color);

    float: right;
}

.cases {
    margin-left: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}
.cases > code {
    display: block;
}
.case-tag {
    font-style: italic;
    margin-right: 0.1em;
}

.doc {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    font-size: 0.8rem;
}
.doc p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.doc p:last-child {
    margin-bottom: 0;
}
.box .doc code {
    color: var(--doc-code-color);
}

details {
    margin-top: 1rem;
    padding-left: 1.5rem;
}
summary {
    cursor: pointer;
    list-style: none;
    margin-left: -1.5rem;
}
summary::after {
    content: "(show)";
    font-size: 0.875em;
    margin-left: 0.3rem;
    color: var(--show-hide-color);
}
summary:hover::after {
    text-decoration: underline;
    color: var(--show-hide-hover-color);
}
details[open] > summary::after {
    content: "(hide)";
}

code {
    font-family: Fira Code, monospace;
}
code.annotations {
    display: block;
}
code .annotation {
    color: var(--annotation-color);
}
code .keyword {
    color: var(--keyword-color);
}
code .name {
    color: var(--name-color);
}
code .type {
    color: var(--type-color);
}
code .kind {
    color: var(--kind-color);
}
code .effect {
    color: var(--effect-color);
}
code .tpe-constraint {
    text-decoration: underline;
}
