:root {
    --bg-color-1: #ffffff;
    --bg-color-2: #fcfcfd;
    --bg-color-3: #f8f9fa;

    --heading-color: #212529;
    --text-color: #111111;
    --faded-text-color: #8a8a8a;

    --section-arrow-color: #555b60;

    --annotation-color: #b15422;
    --keyword-color: #030303;
    --name-color: #b12250;
    --type-color: #3061c4;
    --kind-color: #8a8a8a;
    --effect-color: #d4671e;

    --doc-code-color: #d63384;

    --show-hide-color: #0d6efd;
    --show-hide-hover-color: #0a58ca;

    --module-color: #a0a5ff;
    --classes-color: #fc9d9a;
    --enum-color: #c8c8a9;
    --eff-color: #ffaefa;
    --type-alias-color: #f9cdad;
    --def-color: #83af9b;
}

html, body {
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;

    background-color: var(--bg-color-1);
    color: var(--text-color);

    display: flex;
    background-color: var(--bg-color-2);
}

h1, h2 {
    color: var(--heading-color);
    margin-top: 0;
    line-height: 1.2;
}
h1 {
    font-size: 4.5rem;
    font-weight: 300;
    margin-bottom: 3rem;
    font-family: Oswald, sans-serif;
}
h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
h3 {
    display: inline;
    font-size: 1rem;
    color: var(--heading-color);
    font-weight: 500;
}

nav {
    background-color: var(--bg-color-1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    height: 100%;
    width: 20rem;
    overflow-y: auto;
}

nav h2 {
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.version {
    color: var(--faded-text-color);
    margin-left: 0.5rem;
    font-size: 0.85rem;
}

nav ul {
    margin-top: 0.2rem;
    padding-left: 0.5rem;
    font-size: 0.85rem;
    list-style: none;
}

nav h3 {
    font-weight: 700;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

nav li {
    margin-bottom: 0.1rem;
}
nav li::before {
    content: "â—";
    margin-right: 0.3rem;
}
nav .Modules li::before {
    color: var(--module-color)
}
nav .Classes li::before {
    color: var(--classes-color)
}
nav .Enums li::before {
    color: var(--enum-color)
}
nav .Effects li::before {
    color: var(--eff-color)
}
nav .Type-Aliases li::before {
    color: var(--type-alias-color)
}
nav .Definitions li::before {
    color: var(--def-color)
}

main {
    padding: 1rem 10%;
    flex: 1;

    overflow-y: auto;
    scroll-behavior: smooth;
}

main h2 {
    font-family: Oswald, sans-serif;
}

body > hr {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

section {
    --h-padding: 0.75rem;
    margin-left: calc(-1 * var(--h-padding));
    margin-right: calc(-1 * var(--h-padding));

    margin-bottom: 3rem;
}
section > * {
    padding-left: var(--h-padding);
    padding-right: var(--h-padding);
}

.box {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--bg-color-1);
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.8rem;
    border-radius: 0.2rem;
    box-sizing: border-box;
    overflow: auto;
}
.box:target {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
}
.box code {
    font-size: 0.85rem;
}

.source {
    color: inherit;
    font-size: 0.75rem;
    font-weight: 700;
    background-color: var(--bg-color-3);
    padding: 0.2em 0.65em;
    border-radius: 0.375rem;

    float: right;
}

.cases {
    margin-left: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}
.cases > code {
    display: block;
}
.case-tag {
    font-style: italic;
    margin-right: 0.1em;
}

.doc {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    font-size: 0.8rem;   
    font-family: Roboto, sans-serif;
}
.doc p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.doc p:last-child {
    margin-bottom: 0;
}
.box .doc code {
    color: var(--doc-code-color);
}

details {
    margin-top: 1rem;
    padding-left: 1.5rem;
}
summary {
    cursor: pointer;
    list-style: none;
    color: var(--section-arrow-color);
    margin-left: -1.5rem;
}
summary::after {
    content: "(show)";
    font-size: 0.875em;
    margin-left: 0.3rem;
    color: var(--show-hide-color);
}
summary:hover::after {
    text-decoration: underline;
    color: var(--show-hide-hover-color);
}
details[open] > summary::after {
    content: "(hide)";
}

code {
    font-family: Fira Code, monospace;
}
code.annotations {
    display: block;
}
code .annotation {
    color: var(--annotation-color);
}
code .keyword {
    color: var(--keyword-color);
}
code .name {
    color: var(--name-color);
}
code .type {
    color: var(--type-color);
}
code .kind {
    color: var(--kind-color);
}
code .effect {
    color: var(--effect-color);
}
code .tpe-constraint {
    text-decoration: underline;
}
