.idea/
/api/
/out/
/local.properties
/*.iml
/flix.jar
target
.ensime*
/*.flix
/build
/.gradle
.metals
.vscode
.bloop
crash_report_*.txt
.DS_Store

# backup files and IntelliJ profiler reports
*~

# local development files
**/personal/**
