*.flix         text eol=lf working-tree-encoding=UTF-8
*.sc           text eol=lf working-tree-encoding=UTF-8
*.scala        text eol=lf working-tree-encoding=UTF-8
*.py           text eol=lf working-tree-encoding=UTF-8
*.yaml         text eol=lf working-tree-encoding=UTF-8
*.yml          text eol=lf working-tree-encoding=UTF-8
.editorconfig  text eol=lf working-tree-encoding=UTF-8
.gitattributes text eol=lf working-tree-encoding=UTF-8
.gitignore     text eol=lf working-tree-encoding=UTF-8
*.md           text eol=lf working-tree-encoding=UTF-8
build.gradle   text eol=lf working-tree-encoding=UTF-8
gradlew        text eol=lf working-tree-encoding=UTF-8
gradlew.bat    text eol=lf working-tree-encoding=UTF-8
