on: [pull_request]

# Cancel previous runs if the PR is updated
concurrency:
  cancel-in-progress: true
  group: community-build-${{ github.ref }}

jobs:
  community-build:

    runs-on: ubuntu-latest

    env:
      # === ADD PROJECTS HERE === #
      #   (space-separated list)  #
      PROJECTS: magnus-madsen/helloworld mlutze/fcwg

      PROJ_DIR: project-build

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 13
        uses: actions/setup-java@v1
        with:
          java-version: 13
      - name: Build jar
        run: ./gradlew jar
      - name: Build community projects
        run: |
          # Sanity check: Make sure the project build directory does not exist.
          test ! -e ${{ env.PROJ_DIR }}
          
          # Build each project in a fresh directory.
          for project in ${{ env.PROJECTS }}; do
            
            # Initialize the project directory.
            mkdir ${{ env.PROJ_DIR }}
            cd ${{ env.PROJ_DIR }}
            java -jar ../build/libs/flix.jar init
            
            # Remove example code to avoid conflicts.
            rm src/Main.flix
            rm test/TestMain.flix
            
            # Install and build the project.
            java -jar ../build/libs/flix.jar install $project
            java -jar ../build/libs/flix.jar build
            
            # Exit and clean the project directory.
            cd ..
            rm -rf ${{ env.PROJ_DIR }}
          done
