name: Greetings

on: [pull_request]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      contents: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        pr-message: "Thanks for contributing! If you haven't already, please add your name to the [authors list](https://github.com/flix/flix/blob/master/AUTHORS.md) to indicate that you agree to release your contributions under the [Apache 2.0 License](https://github.com/flix/flix/blob/master/LICENSE.md)"
